doctype html
html(lang="en")
    head
        title=title

        link(href='/css/styles.css' rel='stylesheet' type='text/css')

        script(src='/javascript/scripts.js' type='text/javascript')
    body
        include layout/navbar

        block content
