extends ../layout

block content
    div#error-code404-container.container.text-center
        div.row
            div.col-xs-12
                h1 404

        div.row
            div.col-xs-12
                div Nothing interesting here
                div
                    a(href="/") Go back
